@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import "variables";

#header-container {
  nav {
    .myIsActive {
      font-weight: bolder;
    }
  }

  .my-nav-top {
    color: $white;
    background-color: $black;

    a {
      color: $white;
    }
  }

  .my-nav-bottom {
    color: $black;
    background-color: $gray-600;

    a {
      color: $black;
    }
  }
}

#main-container {
  .main-title {
    text-shadow: 2px 2px 4px #6b2f2f;
    font-size: 4rem;
    font-weight: 600;
    font-family: "Dancing Script", cursive !important;
  }
  .row {
    .my-css {
      .card {
        // height: 25vh;
        // box-sizing: border-box;
        // min-height: 33rem;
        // flex-wrap: wrap;
        // width: 100%;
        // margin: 0 auto;

        .card-text {
          font-size: 0.875rem;
        }
      }
      img {
        // background-color: #f5f6f8;
        // height: 100%;
        // align-self: center;
      }
    }
  }
}

#footer-container {
  background-color: $amber-a400;
  color: $white;

  a {
    text-decoration: none;
  }
}
